/backend/__pycache__/
/__pycache__/
*.py[cod]
/frontend/node_modules/
backend/.pytest_cache
.vscode/
backend/.env
backend/app/.env
backend/app.log
backend/Downloads
backend/.ipynb_checkpoints
backend/.venv